:root { font-size: 1rem; }
@media (min-width: 600px) { :root { font-size: 1.25rem; } }
@media (min-width: 900px) { :root { font-size: 1.5rem; } }
@media (min-width: 1200px) { :root { font-size: 1.75rem; } }

* { margin: 0; padding: 0; box-sizing: border-box; }

html,
body {
	font-family: system-ui, sans-serif;
}

body {
	margin: 1.5rem;
	background: rgba(0,0,0, .1);
}

#wrap {
	width: 100%;
	margin: auto;
	background: #fff;
	border-radius: 5px;
}
#wrap::after {
  display: block;
  content: "";
  clear: both;
}

h1 {
	background: #1a1b1f;
	color: #fff;
	padding: 1.5rem;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

a:link,
a:visited {
	text-decoration: none;
}

#checkout.button-group {
	padding: 1.5rem;
	text-align: center;
}

#checkout.button-group .button {
	margin: 0 1rem;
}

#quantidade-container {
	padding: 1.5rem;
}

nav {
	padding: 0 1.5rem 1.5rem;
}

#loja-container {
	padding: 1.5rem;
}

#pedido {
	padding: 1.5rem;
}

#more {
	padding: 1.5rem 1.5rem 1.5rem;
	background: rgba(0,0,0, 0.05);
}

#pedido .actions {
	padding-top: 1.5rem;
}

#pedido p {
	padding: 8px 0;
}

#more li {
	margin: 1rem 0 0 1.5rem;
}

#quantidade-container .actions {
	padding-top: 1.5rem;
}

input[type="number"] {
	padding: 1rem;
	font-size: 1rem;
}

.button {
	display: inline-block;
	padding: 1rem 1.5rem;
	background: blue;
	border-radius: 5px;
	color: #fff;
}

#loja-container ul {
	list-style: none;
}

#more ul {
	list-style: disc; 
}

#loja-container .button-group .button {
	margin: 8px 0;
}

.new {
	display: inline-block;
	padding: 1rem 1.5rem;
	background: transparent;
	border: 2px solid blue;
	border-radius: 5px;
	color: blue;
}

nav a {
	display: block;
	color: #666;
}

.grid-container {
	display: inline-grid;
	grid-gap: 0.5rem;
  text-align: center;
  grid-template-columns: auto auto auto;
}
.grid-item {
	padding: 1.5rem 2rem;
	background: #eee;
	border-radius: 0.25rem;
	cursor: pointer;
	font-size: 1.5rem;
}
#kd {
	grid-column: 2 / span 2;
	background: transparent;
	border: 2px solid #ddd;
}

#display {
	font-size: 2.25rem;
	padding: 1rem 0 1.5rem;
	text-align: center;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 1.5rem;
}

#keypad .key {
	padding: 1.5rem 2rem;
	display: inline-block;
	background: #eee;
	margin: 4px;
	cursor: pointer;
	font-size: 1.5rem;
	border-radius: 5px;
}

#next {
	cursor: pointer;
}

#next.is-disabled {
	background: #eee;
	color: #ccc;
	cursor: auto;
}

#kd.is-disabled {
	color: #ccc;
	border-color: #eee;
	cursor: auto;
}

#display.is-disabled {
	color: #ccc;
}

#keypad-container {
	display: flex;
	justify-content: center;
}

span#proposta {
	background: yellow;
}
#home #container a {
	display: block;
	padding: 1.5rem;
	font-size: 1.5rem;
	color: blue;
}
#home #container > p a {
	border-bottom: 1px solid #eee;
}

#merchan p {
	margin: 1.5rem;
}
#merchan img {
	width: 100%;
}

p.indicados {
	width: 100%;
	display: table;
	text-align: center;
}
p.indicados img {
	display: table-cell;
	height: 11.25rem;
	-width: 50%;
	float: left;
}
p.indicados.sem-checkout img {
	display: table-cell;
	width: 50%;
	height: auto;
	float: left;
}